@page
@model IndexModel
@{
    ViewData["Title"] = "Sitio Web de libros";
}

<div class="text-center">
    <h1 class="display-4">Hola mundo</h1>
    <p>Como estasis mi nombre es hola mundo que hubo.</p>
</div>